.player {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: rgb(250, 235, 215);
	width: 200px;
	padding: 5px 10px;
	border-radius: 10px;
	transition: all 125ms ease-in-out;


	img {
		height: 50px;
		width: auto;
		border-radius: 50%;
		border: 5px solid rgb(250, 244, 236);

	}

	h3 {
		font-size: 20px;
		height: max-content;
		margin-bottom: 0;
	}
}

.playerActive {
	width: 270px;
	transition: all 125ms ease-in-out;
}