.field {
	width: 100%;
	height: 100vh;
	background: url(/assets/img/wood.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

}

.cardStack {
	position: relative;

	img {
		position: absolute;
		width: 120px;
	}
}

.topCard {
	cursor: pointer;
	transition: all 125ms ease-in-out;

	&:hover{
		transform: scale(1.05) rotateZ(2deg)
	
	}
}

.pickCard {
	transition: all 125ms ease-in-out;
	animation: pickCardAnimation 1s ease-in-out forwards;
}

@keyframes pickCardAnimation {
	0%{
		transform: scale(1);
	}

	50%{
		transform: scale(1.2) rotateZ(2deg);
	}

	70%{
		transform: scale(1.2) rotateZ(3deg);
	}

	100%{
		transform: scale(1.1) rotateZ(10deg) translateX(150px) translateY(-250px);
	}
}

.playedCard {
	transform: scale(1.1) rotateZ(10deg) translateX(150px) translateY(-250px);
	left: 6,5px;
	top: 6,5px;
}